<h1>This is index page</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan = '3' >Placeholder</th>
        </tr>
    </thead>
    <tbody>
        <% @blog.each do |blog| %>
        <tr>
            <td> <%= blog.title %> </td>
            <td> <%= blog.description %> </td>
            <td> <%= link_to "Show", blog_path(blog) %> </td>
            <td> <%= link_to "Edit", edit_blog_path(blog) %> </td>
            <td> <%= button_to "Delete", blog_path(blog), method: :delete, data: { confirm: "Are you sure"} %> </td>
        <%end%>
        </tr>
    </tbody>
</table>

<p>
    <%= link_to "Create New Blog", new_blog_path %>
</p>